<script type="text/html" id="home">
  <div class="homepage">
    <div class="form-container">
      <form action="" method="post">
        <h1>Login page</h1>
        <div class="failed-msg" id="msg"><%= msg %></div>
        <div class="form-field">
          <label for="username">Nazwa użytkownika: </label>
          <input
          type="text"
          name="username"
          id="username"
          placeholder="Enter username"
          />
        </div>

        <div class="form-field">
          <label for="pass">Hasło: </label>
          <input type="password" name="pass" id="pass" placeholder="Enter password" />
        </div>

        <input class="login-button" type="submit" value="Zaloguj" />
      </form>
    </div>
  </div>
</script>
